{% extends 'welcome1.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IGBOBI COLLEGE YABA</title>
        <link type="text/css" rel="Stylesheet" href="/static/CSS/new_lekan.css" />

</head>
          
<body>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-book fa-1x"></i> My Scripts</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

    

     <img style='width:100px;height:100px' src="/static/{{data.studentpicture}}" class="img-responsive" alt="Student Image">
  <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
      <thead>


          <tr>
              <th colspan='5'> Mid term scripts</th>

          </tr>
      </thead>
      <tbody>
          <tr>
              <td bgcolor="">Admission Number</td>
              <td>{{ data.admissionno }}</td>
              <td bgcolor="">Student Name</td>
              <td>{{ data.fullname }}</td>
          </tr>
           <tr>
              <td bgcolor="">Session</td>
              <td>{{ data.admitted_session }}</td>
              <td bgcolor="">Class</td>
              <td>{{ data.admitted_class }}&nbsp;&nbsp;{{ data.admitted_arm }}</td>
          </tr>
          <tr>
              <td bgcolor="">Subject</td>
              <td> SCIENCE </td>

              <td bgcolor="">Term</td>
              <td>{{ term }} </td>
          </tr>
            <tr>
              <td bgcolor="">Obtained</td>
              <td style='color:blue'>{{ add }} </td>
              <td bgcolor="">Obtainable</td>
              <td>{{ total }} </td>
          </tr>
     </tbody>
  </table>

{% for tkk in getdetails %}
          
            {% if tkk.question %}
  <table width="100%" class="table  table-bordered " id="dataTables-example">  
            <tr>
                <td style= 'font-weight:bold'>
                    Q{{ forloop.counter }}. {{tkk.question.question.qstn }}
                </td>
            </tr>   

              {% if tkk.question.question.image != '/ax/image' %}

            <tr style='border:0px solid black' align='center'>
              <td>
          <img style="width: 230px; height: 230px;" src="/static/{{tkk.question.question.image}}" alt="{{getdetails.question.image}}">
        </td>
      </tr>
</table>

{% endif %}
           
                {% for opt in tkk.options %}


<table style="margin-top:2%;margin-bottom:0%" width="100%" class="table  table-bordered " id="dataTables-example">

          <tr >

                    {% if tkk.question.stu_ans = opt.a %}
                            {% if opt.a = tkk.answer.ans %}
                                    {% if tkk.image = 'low' %}
                                    
                                          <div style='text-decoration: line-through; display:inline'>(A.) </div>
                                         <div style='display:inline; color:green'>{{opt.a}} </div>
                                     {% else %}
                                           <div style='text-decoration: line-through; display:inline'>(A.) </div>
                                          <td style='border:0.8px solid green' align='center'>
                                          <img style="width: 70px; height: 40px;" src="/static/{{opt.a}}" alt="{{getdetails.question.image}}">
                                        </td>
                                     {% endif %}
                            {% else %}
                                   {% if tkk.image = 'low' %}

                                      <div style='text-decoration: line-through;display:inline'> (A.) </div>
                                      <div style='display:inline; color:red'>{{opt.a}} </div>
                                  {% else %}
                                        <div style='text-decoration: line-through;display:inline'> (A.) </div>
                                       <td style='border:0.8px solid red' align='center'>
                                        <img style="width: 70px; height: 40px;" src="/static/{{opt.a}}" alt="{{getdetails.question.image}}">
                                      </td>
                                  {% endif %}
                            {% endif %}


                     {% else %}
                         {% if tkk.image = 'low' %}
                                <tr > (A.)  {{opt.a}}</tr>
                          {% else %}
                               <div style='display:inline'> (A.) </div>
                                <div style='border:2px solid blue' align='center'>
                                <img style="width: 70px; height: 40px;" src="/static/{{opt.a}}" alt="{{getdetails.question.image}}"></div>      
                          {% endif %}
 
                      {% endif %}

</tr>




        
                      {% if tkk.question.stu_ans = opt.b %} 
                          {% if opt.b == tkk.answer.ans %}
                                <div style='text-decoration: line-through; display:inline'>(B.) </div> 
                                <div style='display:inline;color:green'>{{opt.b}} </div>
                          {% else %}
                              <div style='text-decoration: line-through;display:inline'> (B.) </div>
                               <div style='display:inline; color:red'>{{opt.b}} </div>
                           {% endif %} 

                      {% else %}
                      <div > (B.)  {{opt.b}}</div>
                      {% endif %}                                           


                      {% if tkk.question.stu_ans = opt.c %} 
                          {% if opt.c == tkk.answer.ans %}
                                <div style='text-decoration: line-through; display:inline'>(C.) </div> 
                                <div style='display:inline;color:green'>{{opt.c}} </div> 

                          {% else %}
                              <div style='text-decoration: line-through;display:inline'> (C.) </div>
                               <div style='display:inline; color:red'>{{opt.c}} </div>
                           {% endif %} 

                      {% else %}
                      <div > (C.)  {{opt.c}}</div>
                      {% endif %}


                       {% if tkk.question.stu_ans = opt.d %} 
                          {% if opt.d == tkk.answer.ans %}
                                <div style='text-decoration: line-through; display:inline'>(D.) </div>
                                <div style='display:inline;color:green'>{{opt.d}} </div> 
                            {% else %}
                              <div style='text-decoration: line-through;display:inline'> (D.) </div>
                               <div style='display:inline; color:red'>{{opt.d}} </div>
                           {% endif %} 

                      {% else %}
                      <div > (D.)  {{opt.d}}</div>
                      {% endif %}

  











                {% endfor %}


                       {% if tkk.answer.ans != tkk.question.stu_ans %}
                        <div >Ans = {{tkk.answer.ans}} ({{tkk.answer.option}})</div> 
                      {% endif %}



           {% else %}

           <span style="font-weight:bold;font-size:18px;color:gray;"> No Subject Found For "{{ fullname }}",</span>   <a href="#" style="color:blue;font-size:12px;font-weight:bold;" onClick= "getdialogtrys({{ stuid  }});" > Click Here to Add Subject </a>
           {% endif %}

            {% endfor %}





</table>
<div id="myDialog" title="Add Subject"></div>
<div id="deletesubject" title="Delete Subject"></div>
</body>

</html>
{% endblock %}
