<!DOCTYPE html>
<html>
<head>
    <title>SchApp v8.0 {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

</head>
<body>
<table style="width:auto;text-size:12px">

    <tr>
        <td >

            <table style="width:auto;background-color:white;border-collapse:collapse;border:1px solid black">
                <thead >
                <tr class='ajaxhead3'>
                    <td >S/N</td>
                    <td >Name</td>
                    <td >Sex</td>
                    <td >Class</td>
                    <td >Arm</td>
                    <td >Session</td>
                    <td >Term</td>
                    <td >Comment</td>

                </tr>
                </thead>
                <tbody>
                {% for student in data %}
                    <tr class ='ajaxbody3'>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ student.comment.student.admissionno }}</td>
                        <td >{{ student.comment.student.fullname }}</td>
                        <td >{{ student.comment.student.sex }}</td>
                        <td >{{ student.comment.student.admitted_class }}</td>
                        <td >{{ student.comment.student.admitted_arm }}</td>
                        <td >{{ student.comment.student.admitted_session }}</td>
                        <td >{{ student.comment.term }}</td>
                        <td title = "Assess Affective domain for {{student.comment.student.fullname }}">  <a href="#" onClick= "getdialogtry({{ student.affective.id  }});"> Affective</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>


<div id="comment" title="Enter Comment"></div>
<div id="academic" title="Student Academic Record"></div>

<script type="text/javascript" >
    $(document).ready(function() {
        $("#myDialog").hide();
    });
</script>

<script type="text/javascript" language="javascript">
    function getdialogtry1(vid){
        //alert(vid);
        var state = vid;
        var url = "/assessment/getstudentacademic/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                //$("#myDialog").show();
                $("#academic").html(html);
                getdialog1();
            }
        });
        return false;
    }

</script>
<script type="text/javascript" language="javascript">
    function getdialog1(){
        var dialogOpts = {
            autoOpen:true,
            modal:true,
            position: ["center", "middle"],
            height:490,
            width:490,
            title:'<a>SchApp 8.0 | Student Academic Record</a>' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#academic").dialog(dialogOpts);
    }

</script>
</body>
</html>

