<html>
<head>
<title>  SchApp 8.0 - Enterprise School Software</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">


<link type="text/css" rel="Stylesheet" href="/static/CSS/new_body_style.css" />
<!--my css file abv--> 

<!--sedn ot printre--> 

<script type='text/javascript' src='/static/JS/jquery-1.7.1.min.js'></script>
<link rel="stylesheet" type="text/css" href="/static/JS/css/hot-sneaks/jquery-ui-1.8.18.custom.css" />
<script type='text/javascript' src='/static/JS/jquery-ui-1.8.18.custom.min.js'></script>
<script type='text/javascript' src='/static/JS/myprint.js'></script>


<script language="javascript" type="text/javascript">
    function disable(f)
    {
        var button = f.elements['submit'];
        button.value = 'Processing';
        button.disabled = 'true';
        return true;
    }
</script>

<script type=text/javascript>
    $(document).ready(function() {
        openrec();
    });
</script>


<script language="javascript" type="text/javascript">
    function openrec()
    {
        var data='userid='+'test';
        $.ajax({
            type:"POST",
            url:"/header/",
            data:data,
            success:function(html) {
                $(".boxnn").show();
                $(".boxnn").html(html);
            }
        });
        return false;
    }
</script>


</head>

<body>

	<div id="wrapper"> 

		<div id="header"> 
			<div id="app_name">SchApp 8.0 - Enterprise School Solution</div>
			<div class="boxnn">
            </div>
		</div>

		<div id="content" >

			<div id="content_left_other">
				{%block content%}
                {%endblock%}
			</div>

			<div id="content_right_other_student1">
                <div class="side_menu_header">Menu Items</div>
                <ul class="side_menu">
                    <li><a href="/assessment/mid-term-report/">C.A Comments</a></li>
                    <li><a href="/assessment/mid-term-report/">C.A Views</a></li>
                    <li><a href="/assessment/enterca/">Go Back</a></li>
                </ul>
			</div>

		</div>

		<div id="footer"></div>

	</div>


</body>

</html>
