<form action="/assessment/student/my_subjects/" method="post" onsubmit="disable(this)" >
    <table style="width:100%;background-color:#f5f5f5;">
        <tr style="width:100%;">
            <td colspan="15">
                <table style="width:100%;">
                    <tr>
                        <td colspan="5" style="font-weight:bold;color:#ffffff;background-color:#000;text-align:center">
                            Press ESC to close this box
                        </td>
                    </tr>
                    <tr>
                        <td style="color:blue;">
                           Sorry, Contents not available at the moment, Contact your home room teacher for help.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center;"><input type="submit" value=":: Thanks ::" name="submit"></td>
                    </tr>
                </table>

            </td>

        </tr>
    </table>

</form>



<div > </div>