{% extends 'assessment/base.htm' %}
{% block sectionTitle %}{% endblock %}
{% block content %}

            <div class="row">
                <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-book fa-1x"></i> Subject Ability Groups</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
    <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
        <tr>
            <td colspan="20" style="text-align:center;color:black;background-color:#ccccc0;font-size:14px;">
                  Assign subject group
            </td>
        </tr>
        <tr>
        </tr>

                <table width="100%" class="table  table-bordered " id="dataTables-example">
                <!-- <table style="width:auto;"> -->
                    <tr >
                        <td>
                            Session.&nbsp;{{ form.session }}
                        </td>
                        <td>
                            Class&nbsp;{{ form.klass }}
                        </td>
                        <td>
                            Arm&nbsp;{{ form.arm }}
                        </td>

                        <td>
                            Term&nbsp;{{ form.term }}
                        </td>

                    </tr>
                </table>

    </table>
<table width="100%" class="table  table-bordered" id="dataTables-example">
            <tr>

            <td colspan="25">
                <div class="box2"></div>
            </td>

        </tr>
</table>
    <!--<div id="regform" style="width: 100%;"></div>-->

 
    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
                //showButtonPanel: true
                // showOn: "button"
            };
            getclass();
            getarm();
            //autopost();
        });
    </script>


    <script type="text/javascript" language="javascript">
        function getclass(){
            var state = $("#id_session").val() ;
            //alert(state);
            var url = "/assessment/getclassaff/";
            var i = 0;
            var data='userid='+state;
            $("#id_klass").val('');
            $("#id_klass").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_klass").append(options);
                    }
                })
            }
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getarm(){
            var state = $("#id_session").val() ;
            //alert(state);
            var url = "/assessment/getarmaff/";
            var i = 0;
            var data='userid='+state;
            $("#id_arm").val('');
            $("#id_arm").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_arm").append(options);
                        autopost2();
                    }
                })
            }
        }

    </script>

 
    <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_arm").change(function () {
                autopost2();
            });
            $("#id_klass").change(function () {
                autopost2();
            });
            $("#id_term").change(function () {
                autopost2();
            });
        });
    </script>


    
<script type="text/javascript" language="javascript">
        function autopost2(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val()+':'+ $("#id_arm").val() +':'+ $("#id_term").val();
            //alert(state);
            var url = "/assessment/classlist/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".box2").show();
                    $(".box2").html(html);
                }

            });
          
            return false;
        }
</script>

{% endblock %}
