{% extends 'assessment/base.htm' %}
{% block sectionTitle %}{% endblock %}
{% block content %}

            <div class="row">
                <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-edit fa-1x"></i> Subject Scores</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {{subject}}
              <table width="100%" class="table  table-bordered " id="dataTables-example">
        <tr>
            <td style="text-align:center;color:black;background-color:#ccccc0;font-size:14px;">
                 STUDENT CONTINUOUS ASSESSMENT
            </td>
        </tr>

        <div style="panel-body">

        <tr >
            <td colspan="20">
               <form action="" method="POST">
                  <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                       <tr >
                           <td >Session:&nbsp;{{ form.session }}</td>
                           <td >Class:&nbsp;{{ form.klass }}</td>
                           <td >Arm:&nbsp;{{ form.arm }}</td>
                           <td>Term:&nbsp;{{form.term}}</td>
                           <td >Subject:&nbsp;{{ form.subject }}</td >
                            <td >Report type:&nbsp;{{ form.reporttype }}</td >

                       </tr>
                   </table>

                   <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
    <td  style="text-align: center; vertical-align: middle;">
        <input type="submit" value=":: View Subject Report ::" name = "submit">
    </td>
                        </table>
               </form>
            </td>

        </tr>
    </div>

    </table>
     <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
        
        <tr>
            <td colspan="20"><div class="box2"></div></td>

        </tr>
    </table>

    <!--<div id="regform" style="width: 100%;"></div>-->
    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
            };

            getclass();
            // getarm();
            // getterm();
        });
    </script>
    
   <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_subject").change(function () {
                autopost2();
            });
            $("#id_arm").change(function () {
                getsubject();
            });
            $("#id_klass").change(function () {
                getarm();
            });

            $("#id_term").change(function () {
                autopost2();
            });
            
            $("#id_reporttype").change(function () {
                autopost2();
            });
        });
    </script>

    <script type="text/javascript" language="javascript">
        function getclass(){
            var state = $("#id_session").val() ; // i need session to determine my class
            // alert(state);
            var url = "/assessment/getclass/";
            var i = 0;
            var data='userid='+state;
            $("#id_klass").val('');   
            $("#id_klass").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_klass").append(options);
                        getarm();

                    }
                })
            }
        }

    </script>
 
    <script type="text/javascript" language="javascript">
        function getarm(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val();
            //alert(state);
            var url = "/assessment/getarmgrp/";
            var i = 0;
            var data='userid='+state;
            $("#id_arm").val('');
            $("#id_arm").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_arm").append(options);
                        getsubject();
                    }
                })
            }
        }

    </script>



    <script type="text/javascript" language="javascript">
        function getsubject(){
            //var state = $("#id_session").val() ;
            var state = $("#id_session").val() + ':'+ $("#id_klass").val()+':'+ $("#id_arm").val() +':'+ $("#id_term").val();
            var url = "/assessment/getsubject/";
            var i = 0;
            var data='userid='+state;
            $("#id_subject").val('');
            $("#id_subject").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_subject").append(options);
                        autopost2();
                    }
                })
            }
        }

    </script>
 
    <script type="text/javascript" language="javascript">
        function autopost2(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val()+':'+ $("#id_arm").val() +':'+ $("#id_term").val()+':'+ $("#id_subject").val() +':'+ $("#id_reporttype").val();
            var url = "/assessment/getstudent/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".box2").show();
                    $(".box2").html(html);

                }
            });
            return false;
        }
    </script>

{% endblock %}
