{% extends 'assessment/base.htm' %}
{% block content %}
 
    <tr>
        <table style="width:auto; text-align: left; vertical-align: middle;background-color:#FFF;">
            <tr>
                     <form action="" method="POST">                    
                        <td>{{ form.session.label_tag }}&nbsp;{{ form.session }}</td>
                        <td>{{ form.klass.label_tag }}&nbsp;{{ form.klass }}</td>
                        <td>{{ form.arm.label_tag }}&nbsp;{{ form.arm }}</td>
                        <td>{{ form.term.label_tag }}&nbsp;{{ form.term }}</td>
                        <td>{{ form.ca.label_tag }}&nbsp;{{ form.ca }}</td
                        <td>{{ form.pdffile.label_tag }}&nbsp;{{ form.pdffile }} </td>
                        <td><input name="submit" type= "submit" value=" View Report "></td>
                    </form>
            </tr>
        </table>
    </tr>
 
<style>
table {
    font-family: arial, sans-serif;
    width: 100%;
    font-size: 70%;
    border-collapse: collapse;
    margin: 0.5px;
    top: 10%;
}

td, th {
    border: 2px solid black;#dddddd;
    text-align: laeft;
    padding: 0.2%;
    font-size: 100%;
}

tr:nth-child(even) {
    background-color: #ddddd;
}
</style>

     <input name="submitprint" type= "submit" value="Print Report" onclick = "openrecprint();">

    <div class="printable">
    {% for k in replist %}
    <tr >
        <table style="margin-top:12%;margin-bottom:0%">
        <td style="text-align: center"> {{term}} Term First CA PROGRSS REPORT {{session}} </td>
        </table>
    </tr>
    <tr>
        <table style="margin-top:0%;margin-bottom:0%">
        <td style="text-align: right">CLASS:</td>
        <td> {{k.studentinfo.admitted_class }}{{ k.studentinfo.admitted_arm }} </td>
        </table>
    </tr>
    <tr>
        <table style="margin-top:0%;margin-bottom:0%">
        <td> NAME OF STUDENT: </td>
        <td>  {{ k.studentinfo.fullname}} </td>
        </table>
    </tr>
    <tr>
        <table>
            <tr>
                <td>S/N</td>
                <td> SUBJECT </td>
                <td> SCORE </td>
                <td> SCORE % </td>
                <td> GRADE</td>
                <td>  EFFORT </td>
                <td>  NAME OF TEACHER </td>
            </tr>
            {% for p in k.subject %}
            <tr>
                <td>  {{forloop.counter}} </td>
                <td>  {{p.subject}} </td>
                <td>  {{p.first_ca}} </td>
                <td>  {{p.totalperc}} </td>
                <td>  {{p.grade}} </td>
                <td>  {{p.remark}} </td>
                <td>  {{p.teacher}} </td>
            </tr>
            {% endfor %}
        </table>
    </tr>
<tr>
    <table style="margin-top:1%;margin-bottom:1px">
        <td>STUDENT AVERAGE: </td>
        <td>  {{k.academic.stu_ave1}} </td>
        <td> CLASS AVERAGE: </td>
        <td>  {{ k.academic.class_ave1}} </td>
    </table>
</tr>
           <tr>
                <table style="margin-top:0px;margin-bottom:30%;width:100%">
                    <tr>
                        <td style="font-size:10px;width:27%;border:2px solid black;text-align:center">Homeroom Teacher's Comment & Sign:</td>
                        <td style="text-align:left;border:2px solid black;width:auto;font-size:12px;">{{ k.academic.com1 }}</td>
                        <td style="border:2px solid black;font-size:12px;width:5%">Sign:</td>
                        <td style="border:2px solid black;font-size:12px;"></td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;border:2px solid black;text-align:center">Name of Co-ordinator & Sign:</td>
                        <td style="text-align:left;border:1px solid black;font-size:12px;">{{k.codi.co_ordinator}}</td>
                        <td style="border:2px solid black;font-size:12px;width:5%">Sign:</td>
                        <td style="border:2px solid black;font-size:12px;"></td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;border:2px solid black;text-align:center">Principal's Signature</td>
                        <td style="border:2px solid black;text-align:center"></td>
                        <td style="border:2px solid black;width:5%;text-align:center">Date:</td>
                        <td style="font-size:9px;border:2px solid black;text-align:center;width:10%"> {{k.date}}</td>
                    </tr>
                </table>
        </tr>   

    {% endfor %}
    </div>

<script language="javascript" type="text/javascript">
        function openrecprint()
        {
            //alert("welcome");
            $( ".printable" ).print();
        }
</script>
{% endblock %}



