

<html lang="en">
          
<body>

  <div class="panel-body">

  <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
      <thead>
                <tr >
                    <td >S/N</td>
                    <td >Admission No</td>
                    <td >Name</td>
                    <td >Gender</td>
                </tr>
      </thead>
      <tbody>
                {% for student in data %}
                    <tr>
                        <td >{{ forloop.counter }}</td>
                        <td >{{ student.admissionno }}</td>
                        <td title = "Assign ability group to {{student.fullname }}"> <a href="/assessment/courseform/{{student.id}}/"> {{ student.fullname }} </a></td>
                    <!-- <td title = "Assign ability group to {{student.fullname }}"> <a href="#"  onClick= "cursform({{ student.id}})"> {{ student.fullname }} </a></td> -->
           <!--          <td title = "Assign ability group to {{student.fullname }}"> <a href="/assessment/courseform/{{student.id}}/"  onClick= "cursform({{ student.id}})"> {{ student.fullname }} </a></td> -->
           <td >{{ student.sex }}</td>
                    </tr>
                {% endfor %}
     </tbody>
  </table>

</div>

<div id="myDialog" title="Add Subject"></div>
<div id="deletesubject" title="Delete Subject"></div>
</body>

    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
                //showButtonPanel: true
                // showOn: "button"
            };
        });
    </script>

<script type="text/javascript" >
    $(document).ready(function() {
        $("#myDialog").hide();
        $("#deletesubject").hide();
    });
</script>

<script type="text/javascript" language="javascript">
    function cursform(vid){
        var state = vid + ':'+ $("#id_term").val();
        alert(state)
        var url = "/assessment/getmycourse/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                //$("#myDialog").show();
                $("#myDialog").html(html);
                getdialog();
            }
        });
        return false;
    }

</script>

<script type="text/javascript" language="javascript">
    function getdialog(){
        var dialogOpts = {
            autoOpen:true,
            modal:true,
            position: ["center", "middle"],
            height:450,
            width:610,
            title:'<a>SchApp 8.0 | Add More Subject</a>' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#myDialog").dialog(dialogOpts);
    }

</script>

</html>