{% extends 'assessment/base.htm' %}
{% block sectionTitle %}{% endblock %}
{% block content %}
    <table style="width:auto; text-align: left; vertical-align: middle;background-color:#ffffff">
        <tr>
            <td colspan="20" style="text-align:center;color:black;font-size:14px;background-color:#ccccc0;">
                  PRINCIPAL'S COMMENT
            </td>
        </tr>
        <tr>
            <td colspan="20"  style="background-color:#ffffff;font-size:13px;color:red;width:100%;font-weight:bold;text-decoration:blink;text-align:center" > {{ varerr }}
            </td>
        </tr>
        <tr style="color:te;width:auto;">
            <td colspan="20">
                <table style="width:auto;">
                    <tr>
                        <td>
                            {{ form.session.label_tag }}&nbsp;{{ form.session }}
                        </td>
                        <td>
                            {{ form.klass.label_tag }}&nbsp;{{ form.klass }}
                        </td>
                        <td>
                            {{ form.arm.label_tag }}&nbsp;{{ form.arm }}
                        </td>

                        <td>
                            {{ form.term.label_tag }}&nbsp;{{ form.term }}
                        </td>
                        <!--
                        <td>
                            {{ form.subject.label_tag }}&nbsp;{{ form.subject }}
                        </td>-->
                    </tr>
                </table>
            </td>

        </tr>

        <tr>

            <td colspan="20">
                <div class="box2">
                </div>
            </td>

        </tr>
    </table>

    <!--<div id="regform" style="width: 100%;"></div>-->


    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
                //showButtonPanel: true
                // showOn: "button"
            };
            //getclass();
            //getarm();
            autopost2();
        });
    </script>



    <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_arm").change(function () {
                autopost2();
            });
            $("#id_klass").change(function () {
                autopost2();
            });
            $("#id_term").change(function () {
                autopost2();
            });
        });
    </script>
    <script type="text/javascript" language="javascript">
        function autopost2(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val()+':'+ $("#id_arm").val() +':'+ $("#id_term").val();
            //alert(state);
            var url = "/assessment/getstudentprinicipalcomment/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".box2").show();
                    $(".box2").html(html);

                }
            });
            return false;
        }
    </script>
{% endblock %}
