<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% for k in replist %}
    <table style="width:100%;height:842px;vertical-align:top;">
    <tr style="vertical-align:top">
    <td colspan="3">
    <table style="width:100%;vertical-align:top;">
    <tr style="width:100%">
        <td colspan="3" style="width:100%;text-align:left;">
            <table style="width:100%;vertical-align:top;text-align:left;">
                <tr style="width:100%;">
                    <td style=" text-align:right;vertical-align:top;width:40%;float:left;" rowspan="2">

                        <img style="width: 100px; height: 100px;text-align:right" src="/static/{{ school.logo }}" alt="{{ school.name }}" >
                    </td>
                    <td>

                    </td>
                    <td  style="vertical-align:top;text-align:left;font-family:verdana;font-size:14px;width:100%;">
                        <span style="font-weight:bold;font-size:21px;color:#8b0000;"> {{ school.name }}</span> <br><span style="font-size:11px"> {{ school.address }}</span><br><span style="font-size:11px"> {{ school.website }}</span>
                    </td>
                    <td>

                    </td>


                    <td style=" text-align:right;vertical-align:top;float:right;" rowspan="2">
                        <img style="width: 100px; height: 100px;" src="{{ k.studentinfo.studentpicture }}" alt="{{ k.studentinfo.fullname  }}">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;font-weight:bold; color:blue;" colspan="4"><h2> {{ term }} Term Report </h2></td>
                </tr>
            </table>


        </td>
    </tr>
    <tr style="width:100%">
        <td colspan="3" style="width:100%">
            <table style="width:100%;">
                <tr>
                    <td colspan="3" style="width:100%">
                        <strong> <span style="color:blue;"> Student Name:</span> &nbsp;{{ k.studentinfo.fullname }}</strong>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%">
                        <strong> <span style="color:blue;"> Class:</span> &nbsp;{{k.studentinfo.admitted_class }}</strong>

                    </td>
                    <td style="text-align:left;width:100%">
                        <strong> <span style="color:blue;"> Sex:</span> &nbsp;{{ k.studentinfo.sex }}</strong>
                    </td>
                    <td style="text-align:left;width:100%">
                        <strong> <span style="color:blue;"> Position:</span> &nbsp;{{ k.academic.position }}</strong>
                    </td>
                    <td style="text-align:left;">
                            <strong> <span style="color:blue;"> Position Overall:</span> &nbsp;{{ k.academic.position1 }}</strong>
                    </td>

                </tr>
                <tr>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> Arm:</span>&nbsp;{{ k.studentinfo.admitted_arm }}</strong>

                    </td>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> Session:</span> &nbsp;{{ k.studentinfo.admitted_session }}</strong>
                    </td>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> No. Of Student in Class:</span> &nbsp;{{ stuno }}</strong>
                    </td>
                    <td style="text-align:left;">
                            <strong> <span style="color:blue;"> No. Of Student in </span> &nbsp;<span style="color:blue;">{{k.studentinfo.admitted_class }}: </span> &nbsp;{{ stuno1 }}</strong>
                    </td> 

                </tr>
                <tr>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> Admission No:</span> &nbsp;{{ k.studentinfo.admissionno }}</strong>

                    </td>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> No. of Times School Opened:</span>&nbsp;{{ k.academic.days_open }}</strong>
                    </td>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> No. Of Times Present:</span>&nbsp;{{ k.academic.days_present }}</strong>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> House:</span> &nbsp;{{ k.studentinfo.house }}</strong>

                    </td>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> Next Term Begins:</span> &nbsp;{{ k.academic.next_term_start|date:"d-m-Y" }}</strong>
                    </td>
                    <td style="text-align:left;">
                        <strong> <span style="color:blue;"> Percentage(%):</span>  &nbsp;{{ k.academic.percentage }}</strong>
                    </td>

                </tr>
                <tr>
                    <td colspan="3">
                        <table style="width:auto;border-collapse:collapse;font-size:9px;padding:2px;">
                            <tr>
                                <td style="border:1px solid black">S/N</td>
                                <td style="border:1px solid black">Subject</td>
                                <td style="border:1px solid black;font-size:9px;">CA<br> 20</td>
                                <td style="border:1px solid black;font-size:9px;">CA <br>20</td>
                                <td style="border:1px solid black;font-size:11px;">Exam<br>60</td>
                                <td style="border:1px solid black;font-size:11px;">Term<br> Score</td>
                                <td style="border:1px solid black;font-size:11px;">Second Term<br> Score</td>
                                <td style="border:1px solid black;font-size:11px;">First Term<br> Score</td>
                                <td style="border:1px solid black;font-size:14px;">Annual<br> Average</td>
                                <td style="border:1px solid black;font-size:11px;">Position<br>in Year</td>
                               <!-- <td style="border:1px solid black;font-size:11px;">Grade</td>-->
                                <td style="border:1px solid black">Remark</td>
                                <td style="border:1px solid black">Teacher's Name</td>
                            </tr>
                            {% for p in k.subject %}
                                <tr>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:10%;">{{ forloop.counter }}</td>
                                    <td style="font-weight:bold;text-align:left;color:#000000;font-size:9px;border:1px solid black;width:100%;">{{ p.thirdterm.subject }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.first_ca }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.second_ca }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.exam_score }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.term_score }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.secondterm }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.firstterm }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.annual_avg }}</td>
                                    <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.subposition }}</td>
                                  <!--  <td style="font-weight:normal;text-align:center;color:#000000;border:1px solid black;width:18%;">{{ p.thirdterm.grade }}</td>-->
                                    <td style="font-weight:normal;text-align:left;color:#000000;font-size:9px;border:1px solid black;width:100%;">{{ p.thirdterm.remark }}</td>
                                    <td style="font-weight:normal;text-align:left;color:#000000;font-size:9px;border:1px solid black;width:100%;">{{ p.thirdterm.subject_teacher }}</td>
                                </tr>

                            {% endfor %}
                            <tr>
                                <td style="border:1px solid black"></td>
                                <td style="border:1px solid black;text-align:center;font-weight:bold;">Total Score</td>
                                <td style="border:1px solid black"></td>
                                <td style="border:1px solid black"></td>
                                <td style="border:1px solid black"></td>
                                <td style="border:1px solid black;font-weight:bold;text-align:center;">{{ k.totalmark }}</td>
                                <td style="border:1px solid black;font-weight:bold;text-align:center;">{{ k.totalmark2 }}</td>
                                <td style="border:1px solid black;font-weight:bold;text-align:center;">{{ k.totalmark1 }}</td>
                                <td style="border:1px solid black;font-weight:bold;text-align:center;">{{ k.annualavg }}</td>
                                <td style="border:1px solid black"></td>
                                <td style="border:1px solid black"></td>
                                <td style="border:1px solid black"></td>
                               <!-- <td style="border:1px solid black"></td>-->
                            </tr>

                        </table>

                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr style="vertical-align:top;padding:2px">
        <td colspan="3">
            <table style="width:60%;vertical-align:top;font-size:9px;" >
                <tr>
                    <td style="vertical-align:top;">
                        <table style="width:50%;border-collapse:collapse;">
                            <tr>
                                <td style="border:1px solid black;color:blue;">AFFECTIVE SKILLS</td>
                                <td style="border:1px solid black;color:blue;">RATING</td>

                            </tr>

                            <tr>
                                <td style="text-align:left;border:1px solid black">Punctuality </td>
                                <td style="text-align:center;border:1px solid black"> {{ k.affective.punctuality }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Neatness </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.neatness }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Honesty </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.honesty }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Initiative </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.initiative }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Self-Control </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.self_control }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Reliability </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.reliability }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Perseverance </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.perseverance }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Politeness </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.politeness }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Attentiveness </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.attentiveness }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Relationship with people </td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.rel_with_people }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Co-operation</td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.cooperation }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Organizational ability</td>
                                <td style="text-align:center;border:1px solid black">{{ k.affective.organizational_ability }}
                                </td>
                            </tr>
                        </table>

                    </td>

                    <td style="vertical-align:top;">
                        <table style="width:50%;border-collapse:collapse;font-size:9px">
                            <tr>
                                <td style="border:1px solid black;color:blue;">PSYCHOMOTOR SKILLS</td>
                                <td style="border:1px solid black;color:blue;">RATING</td>

                            </tr>

                            <tr>
                                <td style="text-align:left;border:1px solid black">Handwriting </td>
                                <td style="text-align:center;border:1px solid black"> {{ k.pyscho.handwriting }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Games </td>
                                <td style="text-align:center;border:1px solid black">{{ k.pyscho.games }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Art </td>
                                <td style="text-align:center;border:1px solid black">{{ k.pyscho.art }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Painting </td>
                                <td style="text-align:center;border:1px solid black">{{ k.pyscho.painting }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;border:1px solid black">Music </td>
                                <td style="text-align:center;border:1px solid black">{{ k.pyscho.music }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b> Rating Scale</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    A-Exceptionally Exhibited<br>B-Appreciably Demonstrated<br>C-Satisfactorily Displayed<br>D-Needs Improvement
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align:top;">
                        <table style="width:20%;">
                            <tr>
                                <td style="color:#000000;font-weight:bold;text-align:center" colspan="2">Grading System</td>
                            </tr>
                            {% for j in k.getgrading %}
                                <tr>
                                <td style="text-align:right;font-weight:normal;">{{ j.grade }} </td>
                                <td style="text-align:center;font-weight:normal;"> {{ j.remark }}
                                </td>
                            {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="vertical-align:top;padding-top:2px">
            <table style="width:100%;vertical-align:top">
                <tr>
                    <td style="width:75%;font-size:10px;">{{ k.academic.class_teacher_comment }}<br><b><span style="text-decoration:underline;text-align:center">Class Teacher's Comment</span></b> </td>
                    <td style="text-align:center;font-size:12px;">Class Teacher's Name,Signature and Date</td>
                </tr>
                <tr>
                    <td style="width:70%;font-size:10px;"></td>
                    <td style="text-align:center"></td>
                </tr>
                <tr>
                    <td style="width:70%;font-size:10px;"> {{ k.academic.principal_comment }}<br><b> <span style="text-decoration:underline;text-align:center">Principal's Comment</span></b></td>
                    <td style="text-align:center;font-size:12px;">Principal's Name,Signature and Date</td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
    </td>
    </tr>
    </table>
{% endfor %}

</body>
</html>
