
{% extends 'assessment/base.htm' %}
{% block sectionTitle %}{% endblock %}
{% load humanize %}
{% block content %}


            <div class="row">
                <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-edit fa-1x"></i> Ca Views</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
    <table width="100%" class="table  table-bordered " id="dataTables-example">
        <tr>
            <td colspan="20" style="text-align:center;color:black;font-size:14px;background-color:#ccccc0">
                C.A REPORT 
            </td>
        </tr>
        <tr>
            <td colspan="20"  style="background-color:#ffffff;font-size:13px;color:red;width:100%;font-weight:bold;text-decoration:blink;text-align:center" > {{ varerr }}
            </td>
        </tr>
        <tr style="color:whi;width:70%;">
            <td colspan="20">
                <form action="" method="POST">
                <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                    <tr>
                        <td>
                            {{ form.session.label_tag }}&nbsp;{{ form.session }}
                        </td>
                        <td>
                            {{ form.klass.label_tag }}&nbsp;{{ form.klass }}
                        </td>
                        <td>
                            {{ form.arm.label_tag }}&nbsp;{{ form.arm }}
                        </td>

                        <td>
                            {{ form.term.label_tag }}&nbsp;{{ form.term }}
                        </td>
                        <td>
                            {{ form.ca.label_tag }}&nbsp;{{ form.ca }}
                        </td>

                        <td>
                            {{ form.pdffile.label_tag }}&nbsp;{{ form.pdffile }}
                        </td>
                        <td><input name="submit" type= "submit" value=" View Report " ></td>
                    </tr>
                </table>
                </form>
            </td>
        </tr>
    </table>

    <script language="javascript" type="text/javascript">
        function openrecprint()
        {
            //alert("welcome");
            $( ".printable" ).print();
        }
    </script>

{% endblock %}

