


{% extends 'assessment/base.htm' %}
{% block sectionTitle %}Success{% endblock %}
{% block content %} 


  <table  align='center' style='border:1px olid black;width:100%'>

        <tr>
            <td colspan='5'  style="background-color:#ffffff;font-size:13px;color:black;width:50%;font-weight:bold;text-decoration:blink;text-align:center" > <a href="/assessment/indreport/" style='color:black'> By Individual</a>
            </td>
            <td  style="background-color:#ffffff;font-size:13px;color:b;width:50%;font-weight:bold;text-decoration:blink;text-align:right" ><a style ='color:black' href="/assessment/reportsheet/" > By Class</a>
            </td>
        </tr>
</table>
  	
{% endblock %}


