{% extends 'assessment/base.htm' %}
{% block sectionTitle %}{% endblock %}
{% block content %}

            <div class="row">
                <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-edit fa-1x"></i> {{name}}'s SUBJECTS</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>



<html>



<head>
    <title>SchApp v8.0 {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>


<body>

    
    <div>
<table style="width:100%;">
    <tr>
        <td colspan="10">
           
            <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">                   
                    <td >Admission No:</td>
                    <td>{{ admno }}</td>
                    <td >Name:</td><td>{{ name }}</td>
                    <td >Class:{{ klass}}&nbsp;{{arm}}</td>              
                    <td >Session:</td><td>{{ session }}</td>
                    <td >Term:</td><td>{{ term }}</td>                    
                                    
        
</table>
   <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">   

            {% if getdetails %}    
            <td >S/N</td> 
            <td >Subject Offered</td>
            <td> Delete Subject</td>
                <tbody>
                {% for student in getdetails %}
                    <tr >
                        <td >{{ forloop.counter }}</td>                                      
                        
                        <td >{{ student.subject }}</td>
                        <td title = "Delete {{ student.subject}} for {{student.academic_rec.student.fullname}}"> <a href="#" style="color:blue" onClick= "deletesub({{ student.id  }});" > Delete</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
           {% else %}
           {{term}}{{admno}}{{session}}
           <span style="font-weight:bold;font-size:18px;color:gray;"> No Subject Found For "{{ fullname }}",</span>   <a href="#" style="color:blue;font-size:12px;font-weight:bold;" onClick= "getdialogtry({{ stuid  }});" > Click Here to Add Subject </a>
            {% endif %}
        </td>
    </tr>
    <div>
        <td title = "Add Subject for {{ student.academic_rec.student.fullname}}" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:0px solid black"> <a href="#" style="color:blue" align= 'center' onClick= "getdialogtry({{ stuid  }});"> Click here to add subject</a> </td>
    </div>
</table>
</div>
<div id="myDialog" title="Add Subject"></div>
<div id="deletesubject" title="Delete Subject"></div>
</body>

<script type="text/javascript" >
    $(document).ready(function() {
        $("#myDialog").hide();
        $("#deletesubject").hide();
    });
</script>

<script type="text/javascript" language="javascript">
    function getdialogtry(vid){
        var state = vid + ':'+ '{{term}}';
        // alert(state)
        var url = "/assessment/getmoresubject/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                //$("#myDialog").show();
                $("#myDialog").html(html);
                getdialog();
            }
        });
        return false;
    }

</script>
<script type="text/javascript" language="javascript">
    function getdialog(){
        var dialogOpts = {
            autoOpen:true,
            modal:true,
            position: ["center", "middle"],
            height:400,
            width:610,
            title:'<a>SchApp 8.0 | Add More Subject</a>' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#myDialog").dialog(dialogOpts);
    }

</script>
<script type="text/javascript" language="javascript">
    function deletesub(vid){        
        var state = vid;
        // alert(vid);
        var url = "/assessment/deletemoresubject/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                //$("#myDialog").show();
                $("#deletesubject").html(html);
                deletedialog();
            }
        });
        return false;
    }

</script>
<script type="text/javascript" language="javascript">
    function deletedialog(){
        var dialogOpts = {
            autoOpen:true,
            modal:true,
            position: ["center", "middle"],
            height:350,
            width:510,
            title:'<a>SchApp 8.0 | Confirm Subject Delete</a>' ,
            closeOnEscape:true,
            show: true,
            hide: true,
            bgiframe: true
        };
        $("#deletesubject").dialog(dialogOpts);
    }

</script>

{% endblock %}

</html>

