{% extends 'assessment/base.htm' %}
{% block sectionTitle %}Success{% endblock %}
{% block content %}

   <div class="row">
       <div class="col-lg-12">
           <h1 class="page-header"><i class="fa fa-edit fa-1x"></i> Reportsheet</h1>
       </div>
                <!-- /.col-lg-12 -->
   </div>

   <div > Welcome!!! <br /> You may select from the menu to the left of your screen.</div>
   <div>1. <span style="color:blue">Course form </span>helps you manage course options for your class</div>
 <!--   <div>2. Ability groups helps you assign students the ability group they belong<span style="color:blue"> This menu should never be operated if it does not apply to your school</span></div> -->
   <div>3. <span style="color:blue">Subject scores </span>allows you enter accessment scores for each student </div>
   <div>4. <span style="color:blue">PSD </span>allows you evaluate the psychomotive and affective domains for your class</div>
   <div>5. <span style="color:blue">half term </span>allows you print half term report sheets</div>
   <div>6. <span style="color:blue">Summary sheet </span>allows you view and print end term report sheet</div>
   <div>7. <span style="color:blue">Comments </span>allow you attach comments to reportsheet;</div>
   <div>8. <span style="color:blue">Broad sheet </span> allows you print reportsheets in broad sheet format</div>
   <div>9. <span style="color:blue">Principal's comment </span>allows you enter comments as a principal</div>
   <div></div>
{% endblock %}