{% extends 'geo/base.html' %}
{% block sectionTitle %}Student Registration{% endblock %}
{% block content %}

        <form id="form1" action="/geo/bearingcapacity/" method="post" enctype="multipart/form-data" onsubmit="disable(this)">

            <table style="width: 100%; borde:0.8px solid black;text-align: left; vertical-align: text-top" >
               
                <tr >
                    <td colspan="4"  style="background-color: #000000;color:#ffffff;text-align:center;" > Ultimate Bearing Capacity</td>
                </tr>
                {{f}} {{b}}
             <tr >
                    <td colspan="4"  style="background-color: #ffffff;color:#ffffff;text-align:center;" > Ultimate Bearing Capacity</td>
                </tr>
<table width="100%" class="table  table-bordered" id="dataTables-example">
                <tr >
                    <td colspan="4"  style="background-color: #ccccc0;color:#000000;text-align:center;" > Standard Data</td>
                </tr>
                <tr>
                    <td>{{ form.nc.label_tag }}</td>
                    <td>{{ form.nc }}&nbsp;{{ form.nc.errors }}</td>
                    <td>{{ form.nq.label_tag }}</td>
                    <td>{{ form.nq }}&nbsp;{{ form.nq.errors }}</td>
                </tr>
                <tr>
                    <td>{{ form.nr.label_tag }}</td>
                    <td>{{ form.nr }}&nbsp;{{ form.nr.errors }}</td>
                    <td>{{ form.foundation.label_tag }}</td>
                    <td>{{ form.foundation }}&nbsp;{{ form.foundation.errors }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="sectionCaption" style="background-color: #ccccc0;color:#000000;text-align:center;">Laboratory Data</td>
                </tr>
                <tr>
                    <td>{{ form.cohesion.label_tag }}</td>
                    <td>{{ form.cohesion }}&nbsp;{{ form.cohesion.errors }}</td>
                    <td>{{ form.r1.label_tag }}</td>
                    <td>{{ form.r1 }}&nbsp;{{ form.r1.errors }}</td>
                </tr>
                <tr>
                    <td>{{ form.r2.label_tag }}</td>
                    <td>{{ form.r2 }}&nbsp;{{ form.r2.errors }}</td>
                </tr>
                    <td colspan="4" class="sectionCaption" style="background-color: #ccccc0;color:#000000;text-align:center;">Iteration Values</td>
                </tr>
                <tr>
                    <td>{{ form.b.label_tag }} : Start</td>
                    <td>{{ form.b }}&nbsp;{{ form.b.errors }}</td>
                    <td>{{ form.off1.label_tag }}</td>
                    <td>{{ form.off1 }}&nbsp;{{ form.off1.errors }}</td>
                </tr>
                <tr>
                    <td>{{ form.d.label_tag }}: Start</td>
                    <td>{{ form.d }}&nbsp;{{ form.d.errors }}</td>
                    <td>{{ form.off2.label_tag }}</td>
                    <td>{{ form.off2 }}&nbsp;{{ form.subclass }}&nbsp;{{ form.admitted_arm.errors }}</td>
                </tr>
 
                <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered table-hover" id="dataTables-example">

                     <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value=":: Calculate Qu ::"></td>
                </table>
            </table>
        </form>


    <script>
    $(document).ready(function() {
        var pickerOpts = {
            showOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            dateFormat:"yy-mm-dd"

        };

        $("#id_Nc").focus();
    });
    </script>
    


    <script type="text/javascript" >
        $(document).ready(function() {
            $("#id_Nc").focus();
            });
        });
    </script>
   
    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
{% endblock %}
