<html>
<head>.
    <title>SchApp 8.0 Enterprise School software{% block title %}{% endblock %}</title>


</head>

<body>

<form action="/cbt/question/imageedit/{{ getdetails.question.id }}/"
method="post" 
enctype= "multipart/form-data" onsubmit="disable(this)">

    <table width="100%" class="table  table-bordered " id="dataTables-example">
        <tr style="width:auto">
            <td colspan="15">
                <table width="100%" class="table  table-bordered " id="dataTables-example">
                    <tr>
                        <td colspan="15" style="font-weight:bold;color:#ffffff;background-color:#000;text-align:center">
                            Press ESC to close this box
                        </td>
                    </tr>

                    <tr>
                        <td style="color:blue;">
                            Session:
                        </td>
                        <td>
                            {{ getdetails.question.session }}
                        </td>
                    </tr>

                    <tr>
                        <td style="color:blue;">
                            Class:
                        </td>
                        <td  colspan="5">
                            {{ getdetails.question.klass }}
                        </td>

                    </tr>

                    <tr>
                        <td style="color:blue;">
                            Term:
                        </td>
                        <td>
                            {{ getdetails.question.term }}
                        </td>
                    </tr>

                    <tr>
                        <td style="color:blue;">
                            Exam Type:
                        </td>
                        <td>
                            {{ getdetails.question.exam_type }}
                        </td>
                    </tr>

                    <tr>

                        <td style="color:blue;">
                            Question
                        </td>
         <td>
                 {{ getdetails.question.qstn }}
                </td>
                    </tr>
         </table>
</td>
{% if getdetails.question.image != '/ax/image' %}
        <td style='border:0px solid black' align='center'>
          <img style="width: 200px; height: 200px;" src="/static/{{getdetails.question.image}}" alt="{{getdetails.question.image}}">
        </td>
{% endif %}


</tr>
      <table>
                    <div>Select a new file</div>
              
                    <input type='file' name='qstimagefile' >

     </table>
        <table width="100%" class="table  table-bordered " id="dataTables-example">
                <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="    Save changes    "> 
        </table>

</table>

</form>
</body>

<script type="text/javascript" >
    $(document).ready(function() {
        $("#content").focus();
    });
</script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>

</body>
</html>

