                      
                       
                <div style="text-align:center;color:black;font-weight:bold;font-size:14px;"><td ></td></div>

                 <form action="/cbt/enter/question/" method="POST" >
                    <div>
                         <td >                               
                              <textarea placeholder='Instruction' name='instruction' class="form-control" rows="3"></textarea>           
                          </td>
                    </div>
                         <table width="100%" class="table  table-bordered " id="dataTables-example">
                            <tr>
                                <td style="text-align:center;color:black;font-weight:bold;font-size:8px;">INSTRUCTIONS
                                     
                                </td>
                            </tr>
                        </table>

                         <div style="text-align:center;color:black;font-weight:bold;font-size:14px;">

                            <td ></td>
                        </div>
                       <td >
                        <textarea placeholder='Question' name='Questions' class="form-control" rows="3"></textarea>
                        </td >
                        <table width="100%" class="table  table-bordered " id="dataTables-example">
                                <tr>
                                    <td style="text-align:center;color:black;font-weight:bold;font-size:8px;">QUESTION {{err}}
                                         
                                    </td>
                                </tr>
                        </table>
                         <div style="text-align:center;font-weight:bold;font-size:14px;"><td ></td></div>
                    
                     <td >
                            <textarea placeholder='Topic' name='Topic' class="form-control" rows="3"></textarea>
                     </td >

                      <div style="text-align:center;font-weight:bold;font-size:8px;"><td > TOPIC</td></div>

                                        <div class="col-xs-3">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Configure</div>
                                </div>                                
                            </div>
        <tr>
            <!-- <i class="fa fa-gea</i>r fa-5x"></i> -->
                <td >UPLOAD FILE (IF APPLICABLE)</td>
                <td class="form-group"><input name="datafile" type="file" ></td>
        </tr>           

        <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="    Save    "> 

      </form>
      </td>
</tr>
</div>
