{% extends 'CBT/base.html' %}

{%block head %}
    {%block title %}{%endblock%}
{%endblock %}
{% block content %}

              <table width="100%" class="table  table-bordered " id="dataTables-example">
        <tr>
            <td style="text-align:center;color:black;background-color:#ccccc0;font-size:14px;"> SET UP USER
            </td>
        </tr>
</table>
        
        <tr >
 
               <form action="/cbt/set_user/subject/" method="POST">
                  <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                   <tr >
                       <td >Session:&nbsp; {{ form.session }}</td>
                       <td >Class:&nbsp;{{ form.klass }}</td>
                    </tr>   
                    <tr>
                       <td >Subject:&nbsp;{{ form.subject }}</td >
                        <!-- <td><input type="text" class="form-control" name='id_name' id='id_name' placeholder= "  Enter User..."></td> -->
                       <td >Name: {{ form.user }}</td> 
                       <!-- <td align ="left" style="">{{ form.user}}</td>    -->
                    </tr>  

               </table>
               <td ><input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="Add User"></td>
               </form>
        
        </tr>
   

   <table style="margin-top:3%;margin-bottom:0%" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                            <thead >
                            <tr style ='font-weight:bold;text-align:center'>
                                <td >S/N</td>
                                <td >Session</td>
                                <td >Class</td>
                                <td >Subject</td>
                                <td >User</td>  
                                <td >Delete</td>                            
                            </tr>
                            </thead>
                            <tbody>
                                
                            {% for k in user %}
                                <tr style ='text-align:center'>
                                    <td >{{ forloop.counter }}.</td>
                                    <td>{{ k.session }}</td>                                    
                                   <td >{{ k.klass }}</td>
                                    <td >{{ k.subject }}</td>
                                    <td >{{ k.user }}</td>
                                    <td >Delete</td>  
                                </tr>
                            {% endfor %}
                
   </table>


<script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
</script>



<script>
    $(document).ready(function() {
        $("#id_user").focus();
        autocomplete();
    });
</script>

<script type="text/javascript" language="javascript">
        function autocomplete(){
            $("#id_user").autocomplete({
                //minLength: 0
                source: "/cbt/finduser/",
                select: function( event, ui ) {
                    $( "#id_user" ).val( ui.item.username );
                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };

        }
    </script>
    

<script type="text/javascript" language="javascript">
        function getclass(){
            var state = $("#id_session").val() ; // i need session to determine my class
            //alert(state);
            var url = "/assessment/getclass/";
            var i = 0;
            var data='userid='+state;
            $("#id_klass").val('');   
            $("#id_klass").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_klass").append(options);
                        // getsubject();

                    }
                })
            }
        }

    </script>
 


   <script type="text/javascript" language="javascript">
        function getterm(){
            var state = $("#id_session").val() ;
            // alert(state);
            var url = "/assessment/getterm/";
            var i = 0;
            var data='userid='+state;
            $("#id_term").val('');
            $("#id_term").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_term").append(options);
                    }
                })
            }
        }

    </script>

    <script type="text/javascript" language="javascript">
        function getsubject(){
            var state = $("#id_klass").val();
            var state = state.substr(0,2);
            // alert(state);
            var url = "/cbt/getsubject/";
            var i = 0;
            var data='userid='+state;
            $("#id_subject").val('');
            $("#id_subject").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_subject").append(options);
                        // autocomplete();
                    }
                })
            }
        }

    </script>
 
    <script type="text/javascript" language="javascript">
        function autopost2(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val() 


            +':'+ $("#id_term").val()

             ;
            var url = "/cbt/getallusers/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".box2").show();
                    $(".box2").html(html);

                }
            });
            return false;
        }
    </script>
 
{% endblock %}