<!DOCTYPE HTML>
<html>
<head>
</head>
 
<body>

{% if sublist %}

        
        <div style = 'font-weight:bold;text-align:center;font-size:12px;color:red'>ATTACH OPTIONS WITH THE PAPERCLIP</div>
       
             
                {% for pin in sublist %}
            
                <table style=" margin-top:0%;margin-bottom:0.3%" width="100%" class="table  table-bordered " id="dataTables-example">
                 
                      <td ><b> {{forloop.counter}}.&nbsp;&nbsp;{{pin.question.qstn}}</b></td>

{% if pin.question.image != '/ax/image' %}
                    <td style='border:0px solid black' align='center'>
                  <img style="width: 70px; height: 40px;" src="/static/{{pin.question.image}}" alt="{{getdetails.question.image}}">
              </td>
{% endif %}
                     <td align="right" ><a href="#" onClick= "get({{ pin.question.id}})"title="Enter options for Q{{ pin.question.id}}."><i class="fa fa-paperclip fa-2x"></i></a></td>
            
  
        </table>
</td>

         {% if pin.options %}

         <td>

                {% if pin.image = 'low' %}
                                         {% for p in pin.options  %}         
             <tr >  

               <table  width="100%" class="table  table-bordered " id="dataTables-example">                                   
                    <td > (A.) {{ p.a}}</td>
                    <td > (B.) {{ p.b}}</td>
                    <td > (C.) {{ p.c}}</td>
                    <td > (D.) {{ p.d}}</td>

                </table>
            </tr>
                                {% endfor %}
            {% else %}
            {% for p in pin.options  %}
                            <tr>
<table width="100%" class="table  table-bordered " id="dataTables-example">
<td>
  <img style="width: 70px; height: 40px;" src="/static/{{p.a}}" alt="{{image}}">
            
     
</td>

<td>
                  <img style="width: 70px; height: 40px;" src="/static/{{p.b}}" alt="{{getdetails.question.image}}">
     

</td>

<td>    
                    <img style="width: 70px; height: 40px;" src="/static/{{p.c}}" alt="{{getdetails.question.image}}">
</td>

<td>
                  <img style="width: 70px; height: 40px;" src="/static/{{p.d}}" alt="{{getdetails.question.image}}">
              <!-- </tr> -->
    
</td>
</table>
</tr>
            {% endfor %}

  {% endif %}         
 {% else %}
 <table style=" margin-top:0%;margin-bottom:0.9%" width="100%" class="table  table-bordered " id="dataTables-example">

     <td colspan="7" class= 'null' >  .......No Options Found for {{pin.question.qstn}}.</td>
</table>
{% endif %}   

   {% endfor %}








            {% else %}
            <td style = 'font-weight:bold;font-size:12px;color:red'colspan="7" class= 'null' >  .......No questions Found. Kindly use the 'set questions' menu on the left </td>
        






        {% endif %}
              









        
    <div id="myDialognew" title="Enter Content"> </div>

      <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialognew").hide();
        });
    </script>

<script type="text/javascript" language="javascript">
    function getdialogopt(vid){
        // alert(vid);
        var state = vid;
        var url = "/cbt/options/enteropt/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                $("#myDialognew").html(html);
                getdialog();
            }
        });
        return false;
    }

</script>



<script type="text/javascript" language="javascript">
    function get(vid){
        // alert(vid);
        var state = vid;
        var url = "/cbt/options/choose/";
        var i = 0;
        var data='userid='+state;
        $.ajax({
            type:"POST",
            url:url,
            data:data,
            success:function(html) {
                $("#myDialognew").html(html);
                getdialog();
            }
        });
        return false;
    }

</script>

  <script type="text/javascript" language="javascript">
            function getdialog(){
                var dialogOpts = {
                    autoOpen:true,
                    modal:true,
                    position: ["center", "middle"],
                    height:450,
                    width:520,
                    title:'<a>SchApp 8.0</a>' ,
                    closeOnEscape:true,
                    show: true,
                    hide: true,
                    bgiframe: true
                };
                $("#myDialognew").dialog(dialogOpts);
            }
        </script>

</body>
</html>
