{% extends 'welcome1.html' %}
{% block content %}


<!DOCTYPE html>
<html>




<table width="100%" class="table  table-bordered" id="dataTables-example">


                <table  width="100%" class="table  table-bordered" id="dataTables-example">

                    <tr style="width:100%;">

                        <td style=" text-align:right;vertical-align:top;float:centre;" colspan="1">

                            <img style="width: 100px; height: 100px;text-align:right" src="/static/{{ school.logo }}" alt="{{ school }}" >
                        </td>
                        <td  style="vertical-align:top;text-align:center;font-family:verdana;font-size:14px;width:100%;">
                            <span style="font-weight:bold;font-size:21px;color:#8b0000;"> </span> <br><span style="font-size:41px"> {{ school.name  }}</span><br><span style="font-size:11px"> {{ school.address }}</span>
                        </td>
                    <td style=" text-align:right;vertical-align:top;float:centre;" colspan="1">
                            <img style="width: 100px; height: 120px;" src="/static/{{ form.studentpicture }}" alt="{{ k.studentinfo.fullname  }}">
                        </td>
                    </tr>
                    
                    
                   </table>






            <table width="100%" class="table  table-bordered" id="dataTables-example">
              <tr>
                <td>Session: </td>
                <td>{{session}}  </td>
                <td>Term</td>
                <td> {{term}} </td>
                <td> Class:</td>
                <td>{{klass}}</td>
                 <td>Subject: </td>
                 <td>{{subject}}</td>
                <td>id:</td>
                <td> {{uid}} </td>
              </tr> 
            </table>





            <div style="text-align:center" >
                <tr >
                <td>Name:......................</td>
                <td style="text-align:center;font-weight:bold; color:black">{{name}}................................</td>
                <td></td>
                <td></td>
                <td style="text-align:center;font-weight:bold; color:blue"> Adn No: 
                <td >{{ adm}} </td>
               </tr>
            </div>
   

  <table>

        <td style=" color:blue;font-weight:bold;text-align:center;text-size= 14px" colspan="1"><a style='color: red' >Q {{ count }}: </a> {{ question }}</td>
  </table>
<div>{{err}}</div>
&nbsp;



{% if image != '/ax/image' %}
 <table style="margin-top:0%;margin-bottom:0%" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
    <div style= 'text-align:center'>
          
          <img align= 'center' style="width: 230px; height: 180px;" src="/static/{{image}}" alt="{{getdetails.question.image}}">
</div>
</table>

{% endif %}



           
  {% for k in options %}

  <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example ">
  <form action="/cbt/take_test/next/" method="post" enctype="multipart/form-data" role="form">

{% if ans == k.a %}
<tr>
                {% if pos = 'low' %}

                    <td>
                    <input type="radio" name="gender" value='{{ k.a}}' ><a style='text-decoration: line-through'>(A). </a>{{ k.a}}<br>
                    </td>

                {% else %}
        <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
                <td>
                    <input type="radio" name="gender" value='{{ k.a}}' ><a style='text-decoration: line-through'>(A). </a>
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.a}}" alt="{{getdetails.question.image}}">
                        
        </td>
        </table>
                {% endif %}
    </tr>
 {% else %}
 
                {% if pos = 'low' %}
<tr>
                    <td>
                    <input type="radio" name="gender" value='{{ k.a}}' >(A).{{ k.a}} <br>
                    </td>

                {% else %}
          <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example ">
                <td>
                    <input type="radio" name="gender" value='{{ k.a}}' >(A).
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.a}}" alt="{{getdetails.question.image}}">
                </td>    
        
        </table>
                {% endif %}

</tr>
{% endif %}



{% if ans == k.b %}
<tr>
                {% if pos = 'low' %}

                    <td>
                    <input type="radio" name="gender" value='{{ k.b}}' ><a style='text-decoration: line-through'>(B). </a>{{ k.b}} <br>
                    </td>

                {% else %}
        <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
                
                <td>
                    <input type="radio" name="gender" value='{{ k.b}}' ><a style='text-decoration: line-through'>(B). </a>
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.a}}" alt="{{getdetails.question.image}}">
                 </td>       
        
        </table>
                {% endif %}
    </tr>
 {% else %}
 
                {% if pos = 'low' %}
<tr>
                    <td>
                    <input type="radio" name="gender" value='{{ k.b}}'>(B).{{ k.b}} <br>
                    </td>

                {% else %}
          <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example ">
                <td>
                    <input type="radio" name="gender" value='{{ k.b}}' >(B).
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.b}}" alt="{{getdetails.question.image}}">
            </td>     
        
        </table>
                {% endif %}

</tr>
{% endif %}

   
{% if ans == k.c %}
<tr>
                {% if pos = 'low' %}
                    <td>
                    <input type="radio" name="gender" value='{{ k.c}}' ><a style='text-decoration: line-through'>(C). </a>{{ k.c}} <br>
                    </td>

                {% else %}
        <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
                <td>
                    <input type="radio" name="gender" value='{{ k.c}}' ><a style='text-decoration: line-through'>(C). </a>
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.c}}" alt="{{getdetails.question.image}}">
                </td>
        
        </table>
                {% endif %}
    </tr>
 {% else %}
 
                {% if pos = 'low' %}
<tr>
                    <td>
                    <input type="radio" name="gender" value='{{ k.c}}'>(C).{{ k.c}} <br>
                    </td>

                {% else %}
          <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example ">
                <td>
                    <input type="radio" name="gender" value='{{ k.c}}' >(C).
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.c}}" alt="{{getdetails.question.image}}">
                        
        </td>
        </table>
                {% endif %}

</tr>
{% endif %}
           


           {% if ans == k.d %}
<tr>
                {% if pos = 'low' %}
                    <td>
                    <input type="radio" name="gender" value='{{ k.d}}' ><a style='text-decoration: line-through'>(D). </a>{{ k.d}} <br>
                    </td>

                {% else %}
        <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
                <td>
                    <input type="radio" name="gender" value='{{ k.d}}' ><a style='text-decoration: line-through'>(D). </a>
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.d}}" alt="{{getdetails.question.image}}">
            </td>     
        
        </table>
                {% endif %}
    </tr>
 {% else %}
 
                {% if pos = 'low' %}
<tr>
                    <td>
                    <input type="radio" name="gender" value='{{ k.d}}'>(D).{{ k.d}} <br>
                    </td>

                {% else %}
        <table style = "margin-top:0%; margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
                <td>
                    <input type="radio" name="gender" value='{{ k.d}}' >(D).
            
              <img style="width: 100px; height: 40px;" src="/static/{{k.d}}" alt="{{getdetails.question.image}}">
                </td>      
        
        </table>
                {% endif %}

</tr>
{% endif %}

</table>


<tr>
     <table style="margin-top:1%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">
            <td>     
               <button class="btn btn-lg btn-success btn-block" type ='submit' formaction="/cbt/take_test/previous/" >PREVIOUS</button>
            </td>
            <td>
                  <button class="btn btn-lg btn-success btn-block" type ='submit' formaction="/cbt/take_test/skip/" >Skip  </button>
            </td>
             <td>
               
              <button class="btn btn-lg btn-success btn-block" type ='submit' >NEXT  </button>
                </td>

     </table>
 </tr>
 
 </form>



 <div style="text-align:center;font-weight:bold; color:brown">SKIP, IF YOU DON'T HAVE THE ANSWER</div>

</table>


{% endfor %}


<script type="text/javascript" >
    $(document).ready(function() {
        $("#myDialog").hide();
        $("#comment").hide();

    });
</script>


<script type="text/javascript" language="javascript">
window.history.pushState(null, "", window.location.href);
window.onpopstate = function () {
    window.history.pushState(null, "", window.location.href);
};

</script>
{% endblock %}