<html>
<head>
    <title>SchApp 8.0 Enterprise School software{% block title %}{% endblock %}</title>


</head>
<body>
<form  action="/lesson/set_up/teacher_activities/enajax/{{ getdetails.id }}/" method="post" onsubmit="disable(this)">
    <table style="width:100%;background-color:#ccc000;">
        <tr style="width:auto">
            <td colspan="15">
                <table style="width:auto">
                    <tr>
                        <td colspan="15" style="font-weight:bold;color:#ffffff;background-color:#000;text-align:center">
                            Press ESC to close this box
                        </td>
                    </tr>
                    <tr>
                        <td style="color:blue;">
                            Session:
                        </td>
                        <td>
                            {{ getdetails.content.topic.session }}
                        </td>
  

                    </tr>
                    <tr>
                        <td style="color:blue;">
                            Class:
                        </td>
                        <td  colspan="5">
                            {{ getdetails.content.topic.klass }}
                        </td>

                    </tr>
                    <tr>
                        <td style="color:blue;">
                            Term:
                        </td>
                        <td>
                            {{ getdetails.content.topic.term }}
                        </td>
                    </tr>
                    <tr>

                        <td style="color:blue;">
                            Objectives
                        </td>
                        <td>
                            {{getdetails.objectives}}
                        </td>
                    </tr>
         </table>
         <table style="width:100%">

                    <tr>
                        <td>Teacher's Acitivities:
                            <textarea rows="4" cols="20" name="ta" ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td  style="text-align:center"><input  type="submit" value=":: Save ::" name="submit"></td>
                    </tr>
              </table>  

            </td>

        </tr>
    </table>
</body>
</form>
<script type="text/javascript" >
    $(document).ready(function() {
        $("#content").focus();
    });
</script>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>

</body>
</html>

