{% extends 'lesson/base.htm' %}
{% block sectionTitle %}{% endblock %}
{% block content %}
    <table style="width:auto; text-align: left; vertical-align: middle;background-color:#ffffff">
        <tr>
            <td colspan="20" style="border-radius:10px;text-align:center;color:black;font-size:18px;background-color:#ccccc0">
                 Prepare Lesson Plan
            </td>
        </tr>
        <tr>
            <td colspan="20"  style="background-color:#ffffff;font-size:13px;color:red;width:100%;font-weight:bold;text-decoration:blink;text-align:center" > {{ cont }}
            </td>
        </tr>
        <tr style="width:auto;">
            <td colspan="20">
               <form action="" method="POST">
               <table style="width:auto ; text-align: left;">
                   <tr>
                       <td>Session:&nbsp;{{ form.session }}</td>
                       <td>Class: &nbsp;{{ form.klass }}</td>
                       <td>Term:&nbsp;{{ form.term }}</td>
                       <td>Subject:&nbsp;{{form.subject}}</td>
                       <td><input name="submit" type= "submit" value=" View Lesson Plan " ></td>
                   </tr>
               </table>
               </form>
            </td>

        </tr>

        <tr><td colspan="20"><div class="box"></div></td></tr>
                <tr><td colspan="20"><div class="boxu"></div></td></tr>
    </table>
    <!--<div id="regform" style="width: 100%;"></div>-->


  <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
 };
                getclass();
        });
    </script>

    <script type="text/javascript" >
        $(document).ready(function() {

            $("#id_subject").change(function () {autoposts();});
            $("#id_arm").change(function () {getsubject();});
            $("#id_klass").change(function () {getsubjectlesson();});
            $("#id_term").change(function () {autoposts();});
        });
    </script>
    

    <script type="text/javascript" language="javascript">
        function getclass(){
            var state = $("#id_session").val() ;
            //alert(state);
            var url = "/assessment/getclass/";
            var i = 0;
            var data='userid='+state;
            $("#id_klass").val('');
            $("#id_klass").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_klass").append(options);
                        getsubjectlesson();

                    }
                })
            }
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getarm(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val() ;
            //alert(state);
            var url = "/assessment/getarm/";
            var i = 0;
            var data='userid='+state;
            $("#id_arm").val('');
            $("#id_arm").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_arm").append(options);
                        
                    }
                })
            }
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getterm(){
            var state = $("#id_session").val() ;
            //alert(state);
            var url = "/assessment/getterm/";
            var i = 0;
            var data='userid='+state;
            $("#id_term").val('');
            $("#id_term").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_term").append(options);
                    }
                })
            }
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getsubjectlesson(){
            //var state = $("#id_session").val() ;
            var state = $("#id_session").val() + ':'+ $("#id_klass").val();
            var url = "/assessment/getsubjectless/";
            var i = 0;
            var data='userid='+state;
            $("#id_subject").val('');
            $("#id_subject").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_subject").append(options);
                        autoposts();
                    }
                })
            }
        }

    </script>

   <script type="text/javascript" language="javascript">
        function autoposts(){
            var state = $("#id_session").val() + ':'+ $("#id_klass").val()+':'+ $("#id_term").val()+':'+ $("#id_subject").val() ;
            var url = "/assessment/getstudent/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".boxu").show();
                    $(".boxu").html(html);

                }
            });
            return false;
        }
    </script>


{% endblock %}
