<table class="table  table-bordered " id="dataTables-example">
    <tr>
        <td>
            <table class="table  table-bordered " id="dataTables-example">
                
                <div> Curriculum for  {{subject}} {{term }} term, {{klass}}</div>
                       <tr >
                        <td> S/N</td>
                        <td > Subject </td>
                        <td > Topic </td>
                        <td > Class </td>
            
                    <td> Term </td>
                    </tr>
                     {% if sett %}
            {% for pincode in sett %}
                        <tr >
                            <td >{{ forloop.counter}}</td>
                            <td > {{ pincode.subject}}</td>
                            <td> <a  href="/lesson/set_up/delete/{{ pincode.id }}/"  title="Delete '{{ pincode.topic}}' from {{ pincode.subject}}"> {{ pincode.topic}}</a></td>
                            <td> {{ pincode.klass}}</td>
                            <td> {{ pincode.term}}</td>
                            {% endfor %}
                     {% else %}
        <td colspan="7" align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black">  .......No Record Found</td>
    {% endif %}
                    </tr>
            </table>
        </td>
    </tr>
</table>