<html>
<head>
<title>  SchApp 8.0 - Enterprise School Software</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="shortcut icon" href="/static/school-logo/log.jpg" />
<link type="text/css" rel="Stylesheet" href="/static/JS/jquery-ui.css" />
<script type="text/javascript" src='/static/JS/jquery-1.5.js'></script>
<script type="text/javascript" src='/static/JS/jquery.validate.js'></script>
<script type='text/javascript' src='/static/JS/csrf_tokenizer.js'></script>
<script type='text/javascript' src='/static/JS/jquery.js'></script>
<script type='text/javascript' src='/static/JS/jquery-ui.js'></script>
<script type='text/javascript' src='/static/JS/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/JS/jquery-ui-1.8.18.custom.min.js'></script>
<script type='text/javascript' src='/static/JS/myprint.js'></script>
<script type='text/javascript' src='/static/JS/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/static/JS/jquery-ui-1.8.18.custom.min.js'></script>
<link rel="stylesheet" type="text/css" href="/static/JS/css/hot-sneaks/jquery-ui-1.8.18.custom.css" />
<script type='text/javascript' src='/static/JS/myprint.js'></script>

<link type="text/css" rel="Stylesheet" href="/static/CSS/new_body_style.css" />

</head>
<body>
	<div id="wrapper"> 
		<div id="header"> 
			<div class="boxnn"></div>
		</div>
		<div id="content" >
			<div id="content_left">
				{%block content%}
                {%endblock%}
			</div>
		</div>

		<div id="footer">ADYSYS Technologies (07031009036,  08035076979)</div>

	</div>


</body>

</html>

<script type=text/javascript>
    $(document).ready(function() {
        openrec();
    });
</script>

<script language="javascript" type="text/javascript">
    function openrec()
    {
        var data='userid='+'test';
        $.ajax({
            type:"POST",
            url:"/header/",
            data:data,
            success:function(html) {
                $(".boxnn").show();
                $(".boxnn").html(html);
            }
        });
        return false;
    }
</script>
