<!DOCTYPE html>
<html lang="en">

<head>





    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SchApp 8.0</title>
     <script type="text/javascript" src="/static/jquery/jquery.js"></script>

    <link type="text/css" rel="Stylesheet" href="/static/CSS/new_lekan.css" />
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SchApp v8.0</a>
      </div>
      <!-- /.navbar-header -->      
  </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 style='text-align:center' class="panel-title">Log In To SchApp 8.0</h3>
                    </div>
                    <div class="panel-body">
                        <form action = "/login/"  method="post" role="form">
                            <fieldset>
                                <div class="form-group">
                                  <label style='color:red'> {{varerr}}</label>
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-lg btn-success btn-block" name="submit" type= "submit" value="    Log In    ">
                                <!-- <a class="btn btn-lg btn-success btn-block">Login</a> -->
                                <div>
                                <a href="#"> Forgot Your Password?</a>
                              </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
