{% extends "sysadmin/base.htm" %}
{% block title %}Backup DB {% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data" onsubmit="disable(this)">


   <span style="font-size:20px;color:black;text-align:center;"> Click here to back up your Database</span>
{% endblock %}

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
