<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional/EN">
<html>
<head>
    <title> System Admin </title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
       <style type="text/css">
        .error { color: red; }

    </style>

    <style type="text/css">
        .loginTxtbox
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #000;
            text-align: left;
            border: #4772A9 1px solid;
            height: 16px;
        }
    </style>
    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
</head>
<body>
<div align ="center" style="background-color:black;border:0px solid black;width:100%;heigth:10%; font-size:12px;color:white"> <strong>EDIT USER CREATION  </strong> </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
<form action="/sysadmin/edituseraca/{{ getdetails.id }}/" method="post" name ="main" onsubmit="disable(this)">
<table align ="center" style="border:0px solid black;width:100%">
     <tr>
         <td colspan="3" style="background-color:white;width:100%;font-size:12px;color:red;font-style:italic;text-align:center">
             <strong>Press ESC to close  </strong>
         </td>
     </tr>
<tr>
        <td>
User Name :
        </td>
<td><input id="id_username" type="text" name="username" maxlength="20" value = "{{ getdetails.username }}"  readonly = "readonly" class="loginTxtbox">
</td>
</tr>
<tr>
     <td>
Staff Name :
        </td>
<td><input id="id_staffname" type="text" name="staffname" value = "{{ getdetails.staffname }}" class="loginTxtbox" readonly = "readonly" >
</td>
</tr>

<tr><td colspan = "2" style="vertical-align:top; width:auto;text-align:left"><strong>Set Up :</strong> Allow ::<input type="checkbox" name="setup" id="setup" {{setup}} > </td>
</tr>
<tr>
  <td colspan="2"><strong>Student Info. ::</strong>
    New Student<input type="checkbox" name="studentregistration" id="studentregistration" {{studentregistration}}>
      Edit Student<input type="checkbox" name="editregistration" id="editregistration" {{editregistration}}>
     Student Report<input type="checkbox" name="studentreport" id="studentreport" {{studentreport}}>
    Withdraw Student<input type="checkbox" name="withdraw" id="withdraw" {{withdraw}}>
       Return Student<input type="checkbox" name="returngonestudent" id="returngonestudent" {{returngonestudent}}>
       Withraw Report<input type="checkbox" name="withdrawnreport" id="withdrawnreport" {{withdrawnreport}}></td>
</tr>

    <tr>
        <td colspan="2"><strong>Bill Module ::</strong>
            Bill Desc.<input type="checkbox" name="expensedecription" id="expensedecription" {{expensedecription}}>
            Bill SetUp<input type="checkbox" name="billsetup" id="billsetup" {{billsetup}}>
            Additional Bill<input type="checkbox" name="additionalexpenses" id="additionalexpenses" {{additionalexpenses}}>
            Print Bill<input type="checkbox" name="printbill" id="printbill" {{printbill}}>
            Bill Schedule<input type="checkbox" name="billschedule" id="billschedule" {{billschedule}}>
          </td>
    </tr>

    <tr>
        <td colspan="2"><strong>Assessment ::</strong>
            Report Sheet<input type="checkbox" name="reportsheet" id="reportsheet" {{reportsheet}}>
            Broad Sheet<input type="checkbox" name="broadsheet" id="broadsheet" {{broadsheet}}>
            </td>
    </tr>
<tr>
<td colspan="2" style="text-align:center">

<input name="submit" type= "submit" value="Update User Account">
 </td>

</tr>


</table>
</form>

<!-- parti-->


</body>
</html>
