{% extends "sysadmin/base.htm" %}
{%block head %}
{%block title %}{%endblock%}
{% load humanize %}
{%endblock %}
{%block content%}

    <div class="adv1" align ="right"> <strong> Welcome, {{varuser|upper}} |<a href="/welcome/" style ="color:white"> Main Page </a>|<a href="/logoutuser/" style ="color:white"> Log Out </a></strong></div>
<div class="pmiddle">
<!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
<div align ="left" style="border:1px solid black;width:100%;heigth:10%;font-family: verdana;color:black">
<div align ="center" style="background-color:black;border:0px solid black;width:100%;heigth:10%; font-size:12px;color:white"> <strong>ROLLOVER ACCOUNT  </strong> </div>
<div align="center" style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:black;" > {{varerr}}</div>
Click This To  :: <a href="/sysadmin/confirmaccrollover/" > <strong>  Rollover Accounting Year Ended :: {{endate|date:"d-m-Y"}}</strong></a>
</div>
 {%endblock%}
