{% extends "sysadmin/base.htm" %}
{%block head %}
    {%block title %}{%endblock%}
{%endblock %}
{%block content%}
    <!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
    <div >
        <div  style="background-color:#ccccc0;border:0px solid black;width:100%;height:30%; font-size:12px;color:white;text-align:center;"> <strong>ASSIGN SUBJECT GROUP  </strong> </div>
        <div  style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:#ffffff;text-align:center;" > {{varerr}}</div>
        <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
        <!-- <table> -->
            <tr>
                <td colspan="10">

                    <form action="" method="post" name ="main" onsubmit="disable(this)">
                        <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                        <!-- <table  style="border:0px solid black;width:100%"> -->
                            <tr>
                                <td>
                                    User Name :
                                </td>
                                <td>{{ form.teachername}}
                                </td>
                                <td>{{ form.teachername.errors}}
                                </td>
                                <td>
                                    Class :
                                </td>
                                <td>{{ form.klass}}</td>
                                <td>{{form.subclass}}</td>
                                <td>
                                    Subject groups:
                                </td>
                                <td>{{ form.grp}}
                                </td>
                                <td>
                                    Subject :
                                </td>
                                <td>{{ form.subject}}
                                </td>
                                <td>

                                    <input name="submit" type= "submit" value="Assign Subject Group">
                                </td>

                            </tr>
                        </table>
                    </form>
                </td></tr>

            <tr>
                <td colspan="10">
                <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                    <!-- <table style="width:100%;color:black;border-collapse:collapse;"> -->
                        <tr>
                            <td ><strong>S/N</strong></td>
                            <td ><strong>Teacher's Id </strong></td>
                            <td ><strong>Class</strong></td>

                            <td ><strong> Group</strong></td>
                            <td ><strong> Session</strong></td>
                            <td ><strong> Subject</strong></td>
                            <td ><strong> Delete</strong></td>
                        </tr>
                        {% for pincode in getdetails %}

                            <tr>
                            <!-- <td align="left" valign="top" style = "background-color:white;font-size:11px;width:auto;color:#000000;border:1px solid black"> <strong><a href="/sysadmin/edituser/{{ pincode.id }}/" style ="color:red" onclick="admno({{ pincode.id }});" title="Edit This User"> {{ pincode.username|upper }} </a></strong></td>-->
                            <td >  {{ forloop.counter }} </td>
                            <td >  {{ pincode.teachername|title }}</td>
                            <td > {{ pincode.klass }} </td>
                            <td > {{ pincode.group }}</td>
                            <td > {{ pincode.session }}</td>
                            <td > {{ pincode.subject }}</td>
                            <td >  <a href="#" style="color:blue" onClick= "getdialogtry({{ pincode.id  }});">Remove Group Teacher</a></td>
                        {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div id="myDialog" title="Edit Teacher">
    </div>
    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>

    <script type="text/javascript" >
        $(document).ready(function() {
            $("#myDialog").hide();
        });
    </script>
    <script type="text/javascript" language="javascript">
        function getdialogtry(vid){
            //alert(vid);
            var state = vid;
            var url = "/sysadmin/getgrpteacher/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDialog").html(html);
                    getdialog();
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" language="javascript">
        function getdialog(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:250,
                width:310,
                title:'Delete Class Teacher' ,
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialog").dialog(dialogOpts);
        }

    </script>
    <script>
        $(document).ready(function() {

           $("#id_klass").change(function () {
                subclass();
            });
            $("#id_subclass").change(function () {
                getsub();
            });  
        });
    </script>

      <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
            };

           subclass();
        });

    </script>
    <script>
        $(document).ready(function() {
            $("#id_teachername").focus();
            autocomplete();

        });
    </script>

    <script type="text/javascript" language="javascript">
        function autocomplete(){
            $("#id_teachername").autocomplete({
                //minLength: 0
                source: "/sysadmin/getuser/",
                select: function( event, ui ) {
                    $( "#id_teachername" ).val( ui.item.username );
                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };

        }
    </script>




    <script type="text/javascript" language="javascript">
        function subclass(){
            var state = $("#id_klass").val() ;
            //alert(state);
            var p = state.charAt(0).toUpperCase();
            //alert(p);
            var url = "/student/subclass/";
            var i = 0;
            var data='userid='+p;
            $("#id_subclass").val('');
            $("#id_subclass").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_subclass").append(options);
                         getsub();
                       
                    }
                })
            }
        }

    </script>

        <script type="text/javascript" language="javascript">
        function getsub(){
            var state = $("#id_subclass").val();  // i need subclass to determine my subject
            var url = "/sysadmin/subject-reportajax/";
            var i = 0;
            var data='userid='+state;
            $("#id_subject").val('');  // here is subject, values depend on subclass
            $("#id_subject").html('');
            if (state != undefined){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:data,
                    success: function(data){
                        var options = '';
                        for (i=0; i<data.length; i++){
                            options += '<option value="' + data[i] +'">' + data[i] + '</option>'
                        }
                        $("#id_subject").append(options);
                    }
                })
            }
        }

    </script>


{%endblock%}
