{% extends "sysadmin/base.htm" %}
{% block title %}New Account {% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data" onsubmit="disable(this)">
        <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
            <tr>
                <td colspan="15" style="font-size:15px;text-align:center;font-weight:bold;background-color:#FFF;color:red">
                    {{succ}}
                </td>
            </tr>
            <tr>
                <td colspan="15" style="font-size:15px;text-align:center;font-weight:bold;background-color:#ccccc0;color:#000000;height:25px;">
                    CALENDAR UPDATE
                </td>
            </tr>
            <tr>
                <td colspan="15" style="font-size:19px;text-align:LEFT;font-weight:normal">
                  <span style="font-weight:bold;font-size:25px;color:red">NOTE :</span>  <br>Please make sure you have promoted all your student before this operation. Because this takes the school to the new <strong style="color:blue;font-weight:bold;font-size:15px;">"Academic Year"</strong> . <br>
                  Restart the server/system after operation.
                </td>
            </tr>
            <tr>
                <td colspan="15">
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                   CURRENT SESSION:
                </td>
                <td>
                    {{ form.session }}
                </td>
                <td>
                  NEW  SESSION:
                </td>
                <td>
                    {{ form.sessionnew }}
                </td>
                <td>
                    <input name="submit" type= "submit" value="Update Calendar "/>
                </td>

            </tr>
        </table>
    </form>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
{% endblock %}
