{% extends 'bill/base.htm' %}
{% block sectionTitle %}Student Registration{% endblock %}
{% block content %}
    <table style="width:100%">
        <tr>
            <td colspan="10">
                <form id="form1" action="" method="post" enctype="multipart/form-data" onsubmit="disable(this)">
                    <table style="width:auto;text-align: left; vertical-align: text-top; border: 0px;" >
                        <tr>
                            <td colspan="10" style="text-align:center;color:black;background-color:#ccccc0;font-size:14px;font-weight:bd;">ADDITIONAL BILL MENU</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;color:#cc000f;font-size:14px;">Student Information</td>
                        </tr >
                        <tr >
                            <td colspan="4"  style="background-color:#d3d3d3;font-size:13px;color:red;font-weight:bold;text-decoration:blink;text-align:center" > {{ varerr }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.name.label_tag }}</td>
                            <td>{{ form.name }}&nbsp;{{ form.name.errors }}</td>
                            <td>{{ form.admissionno.label_tag }}</td>
                            <td>{{ form.admissionno }}&nbsp;{{ form.admissionno.errors }}</td>
                        </tr>
                        <tr>

                            <td>{{ form.klass.label_tag }}</td>
                            <td>{{ form.klass }}&nbsp;{{ form.klass.errors }}</td>
                            <td>{{ form.arm.label_tag }}</td>
                            <td>{{ form.arm }}&nbsp;{{ form.arm.errors }}</td>
                        </tr>
                        <tr>
                            <td colspan="10" style="text-align:center;color:black;background-color:#ccccc0;font-size:14px;font-weight:bd;">
                                 ADDITIONAL BILL SETUP
                            </td>
                        <tr>
                            <td>{{ form.term.label_tag }}</td>
                            <td>{{ form.term }}&nbsp;{{ form.term.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.desc.label_tag }}</td>
                            <td>{{ form.desc }}&nbsp;{{ form.desc.errors }}</td>
                            <td>{{ form.billamount.label_tag }}</td>
                            <td>{{ form.billamount }}&nbsp;{{ form.billamount.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.acccode.label_tag }}</td>
                            <td>{{ form.acccode }}&nbsp;{{ form.acccode.errors }}</td>

                            <td>{{ form.session.label_tag }}</td>
                            <td>{{ form.session }}&nbsp;{{ form.session.errors }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center; vertical-align: middle;"><input type="submit" value=":: Submit BILL ::" name="submit"></td>
                            <td></td>
                        </tr>
                    </table>
                </form>

            </td>
        </tr>
        <tr>
            <td colspan="10"><div class="box"></div></td>
        </tr>
    </table>

    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>
    <script>
        $(document).ready(function() {
            var pickerOpts = {
                //appendText: "mm/dd/yy",
                //defaultDate: "+5",
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                dateFormat:"yy-mm-dd"
                //showButtonPanel: true
                // showOn: "button"
            };
            // autopost();
            $("#id_session").keyup(function () {
                autopostbill();
            });

            $("#id_term").change(function () {
                autopostbill();
            });
            $("#id_name").keyup(function() {
                $("#id_admissionno").val("");
                $("#id_klass").val("");
                $("#id_arm").val("");

            });
            $( "#id_name" ).focus();
            autocomplete();
            autocompleteacc();
        });
    </script>
    <script type="text/javascript" language="javascript">
        function autopostbill(){
            var state = $("#id_admissionno").val() + ':'+ $("#id_session").val() + ':'+ $("#id_term").val();
            //alert(state);
            var url = "/bill/addajax/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $(".billbox").show();
                    $(".billbox").html(html);
                }
            });
            //alert("error");
            return false;


        }
    </script>

    <script type="text/javascript" language="javascript">
        function autocomplete(){
            $("#id_name").autocomplete({
                source: "/bill/findstudent/",
                select: function( event, ui ) {
                    $( "#id_name" ).val( ui.item.name );
                    $( "#id_admissionno" ).val( ui.item.admno );
                    $( "#id_klass" ).val( ui.item.klass );
                    $( "#id_arm" ).val( ui.item.arm );
                    autopostbill();
                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };

        }

    </script>

    <script type="text/javascript" language="javascript">
        function autocompleteacc(){
            // var sess =  $( "#id_session" ).val();
            //alert(sess);
            $("#id_acccode").autocomplete({
                //minLength: 0
                // var sess =  $( "#id_name" ).val();
                source: "/bill/findacc/",

                //source: "/bill/findstudent/"+ $( "#id_session" ).val() + "/",
                //focus: function(event, ui){
                  //  $("#id_acccode").val(ui.item.acccode);
                    //$( "#id_staffname" ).val( ui.item.label.name );
                    // populateForm(ui.item.value);
                    //return false;
                //},
                select: function( event, ui ) {
                    $( "#id_acccode" ).val( ui.item.acccode );
                    return false;
                }
            })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul );
            };
        }

    </script>
    <script type="text/javascript">
        function disbutton(){
            $("input[type=submit]").attr("disabled", "disabled");
            return false;
        }
    </script>
{% endblock %}
